# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
*.swp

# Environment
.env
.venv

# Binaries & archives
*.exe
*.zip
*.pyz

# Logs
*.log

# Data/output files
*.json
!package.json
extract_output.txt
extract_output_post.txt
preclinical_output.txt

# IDE
.vscode/
.idea/
.DS_Store
